@use "src/assets/theme";
@use "fonts";

html {
  font-size: 16px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
}

body {
  color: theme.$color-text;
  background: theme.$color-background;
  line-height: 1.5;
  font-family: theme.$font-family-main;
  text-rendering: optimizeLegibility;
  font-weight: normal;
}

#app {
  max-width: 1000px;
  margin: 0 auto;
  padding: 2rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  main, footer {
    flex: 1;
  }
  footer {
    display: flex;
    align-items: flex-end;
    gap: 1rem;
    a {
      color: theme.$color-text;
      text-decoration: none;
      &:hover {
        color: theme.$color-text;
        text-decoration: underline;
      }
    }
  }
}

h1 {
  font-family: theme.$font-family-hand;
  font-size: 3rem;
}