  $color-light: #ffffff;
  $color-light-soft: #f8f8f8;
  $color-light-mute: #f2f2f2;

  $color-dark: #181818;
  $color-dark-soft: #222222;
  $color-dark-mute: #282828;

  $color-primary: #F7B801;
  $color-secondary: #F35B04;
  $color-tertiary: #7678ED;
  $color-accent: #F18701;

  $color-background: #3D348B;

  $color-text: #ffffff;

  $font-family-main: Montserrat, sans-serif;
  $font-family-hand: SquarePeg, cursive;


